html,
body {
    margin: 0;
    padding: 0;
}

.grid-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
}

.grid-header {
    border-bottom: 1px solid #333;
    text-align: left;
    background-color: #333;
}

.grid-column {
}

.grid-row {
}

.grid-row-selected {
    background-color: red;
}

.grid-row-hide {
    display: none;
}

.grid-cell {
}

.expansion-cell {
}

.show-tree-operation {
    display: block;
    float: left;
}

.expansion-cell-content {
    float: clear;
}

.hide-tree-operation {
    visibility: hidden;
    float: left;
}

.tree-expanded {
    background: red;
    margin: 5px;

    /* arrow down */
   width: 0;
   height: 0;
   border-left: 8px solid transparent;
   border-right: 8px solid transparent;
   border-top: 8px solid black;
}

.tree-collapsed {
    background: yellow;
    margin: 5px;

    /* arrow right */
   width: 0;
   height: 0;
   border-top: 8px solid transparent;
   border-bottom: 8px solid transparent;
   border-left: 8px solid black;
}
