html,
body {
    margin: 0;
    padding: 0;
}

.grid-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
}

.grid-header {
    border-bottom: 1px solid gray;
    text-align: left;
    background-color: gray;
}

.grid-column {
}

.grid-row {
}

.grid-row-selected {
    background-color: blue;
    color: white;
}

.grid-row-hide {
    display: none;
}

.grid-cell {
}

.expansion-cell {
}

.show-tree-operation {
    display: block;
    float: left;
}

.expansion-cell-content {
    float: clear;
}

.hide-tree-operation {
    visibility: hidden;
    float: left;
}

.tree-expanded {
    margin: 5px;

    width: 0;
    height: 8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid black;
}

.tree-collapsed {
    margin: 5px;

    width: 8px;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid black;
}
